@import "tailwindcss";
@layer theme, base, components, utilities;

@layer base {
  html, body {
    font-family: 'Inter', system-ui, sans-serif !important;
  }

  /* Define font-weight utility classes */
  .font-thin {
    font-weight: 100;
  }
  .font-extralight {
    font-weight: 200;
  }
  .font-light {
    font-weight: 300;
  }
  .font-normal {
    font-weight: 400;
  }
  .font-medium {
    font-weight: 500;
  }
  .font-semibold {
    font-weight: 600;
  }
  .font-bold {
    font-weight: 700;
  }
  .font-extrabold {
    font-weight: 800;
  }
  .font-black {
    font-weight: 900;
  }
}

@theme {
  --color-neutral-625: #525252;
  --color-neutral-675: #464646;
  --color-neutral-725: #3a3a3a;
  --color-neutral-775: #2e2e2e;
  --color-neutral-825: #252525;
  --color-neutral-875: #1d1d1d;
  --color-neutral-925: #161616;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer theme {

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

aside::-webkit-scrollbar {
  width: 8px;
}

aside::-webkit-scrollbar-track {
  background: #1a1a1a; /* dark track */
}

aside::-webkit-scrollbar-thumb {
  background-color: #111111; /* neutral-600 */
  border-radius: 4px;
  border: 2px solid #1a1a1a; /* padding around thumb */
}

aside::-webkit-scrollbar-thumb:hover {
  background-color: #525252; /* neutral-500 */
}

/* Firefox */
aside {
  scrollbar-color: #2b2b2b #1a1a1a;
  scrollbar-width: thin;
}

/* Hide number input spinners (Chrome, Safari, Firefox) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
